.cx-setup {
    padding-left: 80px;
    padding-top: 30px;
    top: 48px;
    position: relative;
    height: calc(100vh - 48px);
    font-size: 20px;
    width: calc(100% - 30px);
}

.form-field {
    width: 60%;
}

.form-bottom {
    padding-bottom: -50px;
}

label {
    margin: 0;
}

.button-left {
    float: right;
    margin-bottom: 30px;
}

.top-space {
    margin-top: 35px;
}

.middle-space {
    padding-top: 20px;
    padding-left: 20px;
}

.col-lg-3.description {
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    margin-bottom: 20px;
}

.dynamics-image {
    width: 24px;
    margin-right: 10px;
}

.paddingtop13 {
    padding-top: 40px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.loading {
    display: inline-block;
    border-bottom: 1px solid #efefef;
    position: relative;
}

.pointercursor {
    padding-right: 15px
}