$black: #000000;
$white: #ffffff;
$dark-grey: #424242;
$light-grey-1: #bbbbbb;
$light-grey-2:#e7e7e7;
$light-grey-3:#f5f5f5;
$red: #EF5451;
$yellow: #F5C664;
$green: #7EB780;
// Font-weight
$old: 700;
$semibold: 600;
$regular: 400;
