/*font-weight*/
$bold:700;
$semi-bold:600;
$regular: 400;
$light: 300;
/*typography*/
$smallest: 9px;
$smaller: 11px;
$small: 13px;
$normal : 15px;
$medium : 17px;
$large : 19px;
$larger: 21px;
$largest: 23px;
$extra-large: 27px;